.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.qty-btn {
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.qty-btn:hover {
  background-color: #bbb;
}

.qty-input {
  width: 50px;
  text-align: center;
  margin: 0 8px;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.message {
  font-size: 0.9rem;
  font-weight: 600;
}
